---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { ThemeToggle } from "@/components/ModeToggle";
import { Skeleton } from "@/components/ui/skeleton";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardTitle,
  CardDescription,
  CardContent,
} from "@/components/ui/card";
import { FAQ } from "@/components/faq";
import {
  Timeline,
  TimelineItem,
  TimelineHeading,
  TimelineDot,
  TimelineLine,
  TimelineContent,
} from "@/components/ui/timeline";
---

<Layout title="Welcome to Astro.">
  <nav class="flex justify-between px-8 py-4 bg-muted sticky top-0 z-10">
    <div class="flex gap-4 items-center">
      <Skeleton className="w-[45px] h-[45px] rounded-full bg-primary" />
      <h1 class="text-xl font-semibold">Company Name</h1>
    </div>

    <div class="flex gap-8 items-center">
      <a href="#about">About Us</a>
      <a href="#process">How it works</a>
      <a href="#faq">FAQ</a>

      <ThemeToggle client:load />
      <Button>Call to Action</Button>
    </div>
  </nav>
  <main>
    <section
      id="hero"
      class="flex gap-12 py-12 items-center place-content-center"
    >
      <div class="flex flex-col gap-4 max-w-screen-sm">
        <h1 class="text-6xl">The Big Result you get your clients</h1>
        <p class="text-lg">Short description of how you get to result</p>
        <span>
          <Button className="text-lg p-6">Call to Action</Button>
        </span>
      </div>
      <Skeleton className="h-[512px] w-[512px] rounded-lg" />
    </section>
    <section class="bg-muted flex flex-col gap-16 items-center py-12">
      <h1 class="text-4xl font-semibold">Point out the problem</h1>
      <div class="flex gap-24 items-start place-content-center">
        <Skeleton className="h-[256px] w-[256px] bg-primary" />
        <div class="flex flex-col gap-8">
          <p>Some subheading expanding on the problem</p>
          <ul class="list-disc list-inside">
            <li>Issue 1</li>
            <li>Issue 2</li>
            <li>Issue 3</li>
            <li>Issue 4</li>
          </ul>
        </div>
      </div>
    </section>
    <section
      id="about"
      class="flex gap-12 py-12 items-center w-full place-content-center"
    >
      <div class="flex flex-col gap-4 max-w-screen-sm">
        <h1 class="text-3xl">Introduce yourself and your business</h1>
        <p>Describe why you are qualified for solving the client's problem.</p>
      </div>
      <Skeleton className="h-[368px] w-[368px] rounded-lg" />
    </section>
    <section class="bg-muted flex flex-col items-center w-full gap-8 py-12">
      <h1 class="text-3xl">Why Work With Us</h1>
      <div class="flex gap-16">
        <Card className="w-64">
          <CardContent className="flex flex-col gap-4 items-center p-8">
            <Skeleton className="h-32 w-32" />
            <CardTitle>Benefit 1</CardTitle>
            <CardDescription>
              A short description of the feature / benefit
            </CardDescription>
          </CardContent>
        </Card>
        <Card className="w-64">
          <CardContent className="flex flex-col gap-4 items-center p-8">
            <Skeleton className="h-32 w-32" />
            <CardTitle>Benefit 2</CardTitle>
            <CardDescription>
              A short description of the feature / benefit
            </CardDescription>
          </CardContent>
        </Card>
        <Card className="w-64">
          <CardContent className="flex flex-col gap-4 items-center p-8">
            <Skeleton className="h-32 w-32" />
            <CardTitle>Benefit 3</CardTitle>
            <CardDescription>
              A short description of the feature / benefit
            </CardDescription>
          </CardContent>
        </Card>
      </div>
    </section>
    <section
      id="process"
      class="flex flex-col gap-8 items-center py-12 max-w-xl m-auto"
    >
      <h1 class="text-3xl">How it works:</h1>

      <Timeline positions="center">
        <TimelineItem status="done">
          <TimelineHeading side="left">1. First step</TimelineHeading>
          <TimelineHeading side="right" variant="secondary">
            <Skeleton className="h-48 w-48 m-8 -mt-4" />
          </TimelineHeading>
          <TimelineDot status="done" />
          <TimelineLine done />
          <TimelineContent side="left">
            What the client does to get started and what they can expect to
            receive immediately after
          </TimelineContent>
        </TimelineItem>

        <TimelineItem status="done">
          <TimelineHeading side="right">2. Second step</TimelineHeading>
          <TimelineHeading side="left" variant="secondary">
            <Skeleton className="h-48 w-48 m-8 -mt-4" />
          </TimelineHeading>
          <TimelineDot status="done" />
          <TimelineLine done />
          <TimelineContent>
            A very brief summary of what you'll do
          </TimelineContent>
        </TimelineItem>

        <TimelineItem status="done">
          <TimelineHeading side="left">3. Third step</TimelineHeading>
          <TimelineHeading side="right" variant="secondary">
            <Skeleton className="h-48 w-48 m-8 -mt-4" />
          </TimelineHeading>
          <TimelineDot status="done" />
          <TimelineLine />
          <TimelineContent side="left">
            Client get's the result
          </TimelineContent>
        </TimelineItem>
      </Timeline>
    </section>
    <!-- <section>Testimonials go here</section> -->
    <section id="faq" class="flex flex-col gap-8 items-center py-12 bg-muted">
      <h1 class="text-3xl">Frequently Asked Questions</h1>
      <FAQ client:idle />
    </section>
    <section class="flex flex-col gap-8 py-12 items-center">
      <!-- Option 1 -->
      <h1 class="text-3xl">Option 1: Schedule a call</h1>
      <Skeleton className="h-[368px] w-[512px] p-12">
        Embedded meeting scheduler tool like Cal.com or Calendly
      </Skeleton>

      <!-- Option 2 -->
      <h1 class="text-3xl">Option 2: Form</h1>
    </section>
  </main>
  <footer class="bg-muted text-center py-8">
    Copyright &copy 2025. All rights reserved by Company Name.
  </footer>
</Layout>
