---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { ModeToggle } from '@/components/ModeToggle';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<ModeToggle client:load />
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Layout>
